body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.app {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

button{
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.delete-btn{
  width:50%;
  padding: 10px;
  background-color: #d0ddc5;
  color: rgb(123, 155, 35);
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background: #eee;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}
